body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

#sorryOverLimit{
 display: none;
 color: red;
}

#sorryNoWebWorkers{
 display: none;
 color: red;
}

#loader{
 display:none;
}