body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#sorryOverLimit {
  display: none;
  color: #f00;
}
#sorryNoWebWorkers {
  display: none;
  color: #f00;
}
#loader {
  display: none;
}
